USE [master]
GO
/****** Object:  Database [wpfCinema]    Script Date: 09.07.2022 20:00:51 ******/
CREATE DATABASE [wpfCinema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'wpfCinema', FILENAME = N'C:\Users\mrpbj\wpfCinema.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'wpfCinema_log', FILENAME = N'C:\Users\mrpbj\wpfCinema_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wpfCinema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wpfCinema]
GO
USE [wpfCinema]
GO
/****** Object:  User [mrpbjo]    Script Date: 09.07.2022 20:00:51 ******/
CREATE USER [mrpbjo] FOR LOGIN [mrpbjo] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 09.07.2022 20:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hall]    Script Date: 09.07.2022 20:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hall](
	[number] [int] NOT NULL,
	[NumberOfSeats] [int] NOT NULL,
 CONSTRAINT [PK_Hall] PRIMARY KEY CLUSTERED 
(
	[number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 09.07.2022 20:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[duration] [time](7) NULL,
	[description] [nvarchar](1000) NULL,
	[category] [int] NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Screening]    Script Date: 09.07.2022 20:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Screening](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movie] [int] NOT NULL,
	[hall] [int] NULL,
	[startedAt] [datetime] NULL,
	[endedAt] [datetime] NULL,
 CONSTRAINT [PK_Screening] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [FK_Movie_Category] FOREIGN KEY([category])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [FK_Movie_Category]
GO
ALTER TABLE [dbo].[Screening]  WITH CHECK ADD  CONSTRAINT [FK_Screening_Hall] FOREIGN KEY([hall])
REFERENCES [dbo].[Hall] ([number])
GO
ALTER TABLE [dbo].[Screening] CHECK CONSTRAINT [FK_Screening_Hall]
GO
ALTER TABLE [dbo].[Screening]  WITH CHECK ADD  CONSTRAINT [FK_Screening_Movie] FOREIGN KEY([movie])
REFERENCES [dbo].[Movie] ([id])
GO
ALTER TABLE [dbo].[Screening] CHECK CONSTRAINT [FK_Screening_Movie]
GO
USE [master]
GO
